.mm-main .cate {
  border: 1px solid #ccc;
  border-radius: .1rem;
  background: #eee;
}
.mm-main .cate ul li a {
  padding-left: .2rem;
  display: block;
  height: .8rem;
  line-height: .8rem;
  font-size: .3rem;
  font-weight: bold;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.mm-main .cate ul li .link::after {
  content: '';
  position: absolute;
  right: .25rem;
  top: .25rem ;
  width: .2rem;
  height: .2rem;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transform: rotate(45deg);
}
.mm-main .cate ul li.btn-left .link::after {
  transform: rotate(-45deg);
}
.mm-main .cate ul li.btn-left .child {
  display: block;
}
.mm-main .cate .child {
  width: 100%;
  background: #fff;
  display: none;
}
.mm-main .cate .child ul {
  overflow: hidden;
}
.mm-main .cate .child ul li {
  float: left;
  width: 33.33%;
}
.mm-main .cate .child ul li a {
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0;
  font-size: .20rem;
  font-weight: normal;
}
.mm-main .cate .child ul li a:nth-child(3n) {
  border-right: none;
}
